<div class="list-group mb-5 shadow-sm rounded">
  <sapn class="list-group-item active">
     ショップ一覧
  </sapn>
    <% shops.each do |shop| %>
      <div class="list-group-item">
        <%= shop.shopname %>
      </div>
    <% end %>
</div>