usersshow

<div class="container">
  <div class="row justify-content-center g-5">

    <div class="col-4">
      <%= render 'users/usercard' %>
    </div>

    <div class="col-8">
      <div class="list-group mb-5 shadow-sm rounded">
        <sapn class="list-group-item active">
          マイレビュー一覧
        </sapn>
      </div>
    </div>
    <div class="col-4">
    </div>

  </div>
</div>