<footer class="text-center bg-light text-black py-3 my-6">
  <i class="far fa-copyright"></i><span> IELABO</span>

<div class="menuuuu">
  <div>
    <%= link_to "管理者作成", admin_registration_path, method: :post, class: "nav-link text-dark" %>
    <%= link_to "管理者ログイン", new_admin_session_path, method: :get, class: "nav-link text-dark" %>
  </div>
</div>
</footer>