<footer class="text-center bg-light text-black py-3 my-6">
  <i class="far fa-copyright"></i><span> IELABO</span>





    <li class="nav-item">
                <%= link_to "ゆーざーログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-dark" %>
              </li>

                <li class="nav-item">
                <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark" %>
              </li>

                            <li class="nav-item">
                <%= link_to "管理者作成", admin_registration_path, method: :post, class: "nav-link text-dark" %>
              </li>

                              <li class="nav-item">
                <%= link_to "管理者ログイン", new_admin_session_path, method: :get, class: "nav-link text-dark" %>
              </li>

</footer>